ul {
    list-style-type: none;
}

h4 {
  font-family: arial,helvetica,sans-serif;
  font-size: 40pt;
  text-align: center;
}

#davey-threads {
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.davey-thread {
    vertical-align: top;
    display: inline-block;
    word-wrap: break-word;
    margin-top: 5px;
    padding: 5px 0 3px 0;
    position: relative;
    width: 175px;
    max-height: 320px;
    margin-bottom: 10px;
}

.davey-thread img {
    border: 1px solid #800;
    display: inline;
}


#davey-image {
    display: block;
    margin-left: auto;
    margin-right: auto
}

/**/
.davey-header {
  margin: 20px 20px 0 0;
  overflow: auto
}
.clover {
  float:left;
}
.clover img {
  float:left;
}
.davey-content {
  margin-left: 210px
}
.davey-title{
  font-size: 200%
}




/**/

.caption {
  display: block;
  text-align:
}
#caption1 {
  font-weight: bold;
}
/*.davey-board {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    margin-bottom: 5px;
}*/

/* ///////////// */
#announce .boxcontent {
    line-height: 1.5em;
}

#announce em {
    font-style: italic;
}

#announce strong {
    font-weight: bold;
}

#announce .boxbar {
    background: #800;
    color: #fff;
}

#announce {
    background: #fff;
    color: #000;
}


.box-outer {
    border: 1px solid;
    zoom:100%;margin-bottom: .5em;
    padding-bottom: .5em;
}

.boxbar {
    padding-left: .5em;
    line-height: 2em;
}

.boxcontent {
    padding: .5em;
    padding-top: .25em;
    padding-bottom: 0;
    line-height: 130%;
}
.boxbar {
    position: relative;
    zoom:100%;
}

.boxcontent,#ft,#whatis {
    font-size: 93%;
}

h1 {
    font-family: Tahoma,Bitstream Vera Sans;
    font-size: 197%;
    font-weight: bold;
}

h2 {
    font-size: 131%;
    font-weight: bold;
}

h3 {
    font-size: 100%;
    font-weight: bold;
}
html {
    background: #ffe;
}

body {
    background: #ffe url('http://s.4cdn.org/image/fp/fade.png') top repeat-x;
    color: #800;
}

.boxbar {
    background: #fca;
    color: #800;
}
.top-box {
    background: #fff;
}

.boardlink {
        display: inline-block;
        font-size: 1.2em;
        padding: 5px 10px 5px 0;
    }
